    <div class="row">
        <div class="col-xs-2"><form method="post" action=""
                                    class="form-group">
            <span><input class="form-control" type="submit" value="sunday"
                         name="firstday" {{DISABLES}}></span>
            <span><input class="form-control" type="submit" value="monday" name="firstday"
                {{DISABLEM}}>
                </form></span>
        </div>
        <div class="col-xs-4 col-xs-offset-3"><h3 class="text-center">
<span class="pull-left"> <a href="/Calendar/another/{{LOWER}}"> < </a>
</span><span>

 {{CURRENT}}
            </span>
<span class="pull-right"> <a href="/Calendar/another/{{HIGHER}}"> > </a>
</span></h3>
    </div>
        </div>
<table class="table table-bordered">
    <tr class="warning no-bootstrap" >
    {{HEADCALENDAR}}
    </tr>
    {{CONTENT}}
</table>