<div class="row well">
<div class="col-xs-4">
    <span>Welcome, {{NAME_EMPL}}.</span>
    BOARDROOM #{{ROOM}} selected.
    <form action="/Calendar/logout/" method="post">
        <input type="submit" class="btn btn-default btn-xs" value="Exit" name="exit"></form>
</div>
    <div class="col-xs-4">
    <a href="/Calendar/index/room/1">Boardroom1</a> |
    <a href="/Calendar/index/room/2">Boardroom2</a> |
    <a href="/Calendar/index/room/3">Boardroom3</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        {{CONTENT}}
          </div>
           <div class="col-xs-2">
               <div class="row">
                   <!-- Button trigger modal -->

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Boar
                                droom Booker</h4>
                        </div>
                        <form method="post" id="modal">
                        <div class="modal-body">
                            <p>1. Booked for:</p>
                            <p><select
                                    name="employeename">
                                <option value="{{BOOKIT_ID}}">
                                {{BOOKIT_USERNAME}}</option></select></p>
                            <p>2. I would like to book this meeting</p>
                            <p>
                                <select id="dropdownmonth"
                                        name="selectedmonth"></select>
                                <select name="selectedday"
                                        id="dropdownday"></select>
                                <select name="selectedyear"
                                        id="dropdownyear"></select>
                            </p>
                            <p id="wrongdata">3. Specify what the time and en
                                d of
                                the
                                meeting (This will be what people see on
                                the calendar.)
                                <span id="wrongdataerror"> &nbsp;</span>
                            </p>
                                <p>
                                    <select name="starthour"
                                            id="dropdownhourstart"></select>
                                    <select name="startmin" >
                                        <option>00</option>
                                        <option>30</option>
                                    </select>
                                    <select id="dropdowntypestart">
                                        <option>AM</option>
                                        <option>PM</option></select>
                                </p>
                            <p>
                                <select name="endhour"
                                        id="dropdownhourend"></select>
                                <select name="endmin">
                                    <option>00</option>
                                    <option>30</option></select>
                                <select id="dropdowntypeend">
                                    <option>AM</option>
                                    <option>PM</option></select>
                            </p>
                            <p>4. Enter the specifics for the meeting.
                                (This will be what people see when they
                                click on an event link.)
                            </p>
                            <textarea name="desc" cols="78"></textarea>
                            <p>5. Is this going to be a recurring event?</p>
                            <input type="radio" value="false" name="recuringon"
                                   id="recuringoff" checked/>no<br>
                            <input type="radio" name="recuringon"
                                    value="true" id="recuringon"/>yes
                                <div id="recurring">
                            <p>
                                6. If it is recurring, specify weekly,
                                bi-weekly or monthly.
                            </p>
                            <input id="weekly" type="radio" name="recuring"
                                      value="weekly"/>weekly<br>
                            <input id="bi-weekly" type="radio" name="recuring"
                                      value="bi-weekly"/>bi-weekly<br>
                            <input id="monthly" type="radio" name="recuring"
                                      value="monthly"/>monthly
                            <p><br>
                                If weekly or bi-weekly, specify the number
                                of weeks for it to keep recurring. If
                                monthly, specify the number of months. (If
                                you choose "bi-weekly" and put in an odd
                                number of weeks, the computer will round
                                down.)
                            </p>
                            <p><input name="duration" id="duration" type="number" min="1"
                                      max="4" value="1">duration(max 4
                                weeks)</p>
                                    </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button"
                                    class="btn btn-default" id="savemodal"
                                    form="modal">Save
                                changes</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
               <div class="row">
        {{ADMIN}}
                   <button type="button" class="btn btn-default"
                           data-toggle="modal" data-target="#myModal">
                       Book It!
                   </button>
    </div></div>
</div>