<p><a>Boardroom1</a> | <a>Boardroom2</a> | <a>Boardroom3</a></p>
<div class="row">
    <div class="col-xs-10">
        {{CONTENT}}
    </div>
    <div class="col-xs-2">
        <div class="row">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-default btn-sm"
                    data-toggle="modal" data-target="#myModal">
                Book It!
            </button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Boar
                                droom Booker</h4>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="">
                            <p>1. Booked for:</p>
                            <p><select><option>{{BOOKIT_USERNAME}}</option></select></p>
                            <p>2. I would like to book this meeting</p>
                            <p>
                                <select>{{BOOKIT_MONTH}}</select>
                                <select>{{BOOKIT_DAY}}</select>
                                <select>{{BOOKIT_YEAR}}</select>
                            </p>
                            <p>3. Specify what the time and end of the
                                meeting (This will be what people see on
                                the calendar.)
                            </p>
                                <p>
                                    <select><option>{{BOOKIT_H}}</option></select>
                                    <select><option>{{BOOKIT_M}}</option></select>
                                    <select><option>{{BOOKIT_AMPM}}</option></select>
                                </p>
                            <p>
                                <select><option>{{BOOKIT_H}}</option></select>
                                <select><option>{{BOOKIT_M}}</option></select>
                                <select><option>{{BOOKIT_AMPM}}</option></select>
                            </p>
                            <p>4. Enter the specifics for the meeting.
                                (This will be what people see when they
                                click on an event link.)
                            </p>
                            <textarea name="desc" cols="78"></textarea>
                            <p>5. Is this going to be a recurring event?</p>
                            <input type="radio" name="recuringon"
                                   id="recuringoff" checked/>no<br>
                            <input type="radio" name="recuringon"
                                    id="recuringon"/>yes
                                <div id="recurring">
                            <p>
                                6. If it is recurring, specify weekly,
                                bi-weekly or monthly.
                            </p>
                            <input type="radio" name="recuring"
                                      value=""/>weekly<br>
                            <input type="radio" name="recuring"
                                      value="no"/>bi-weekly<br>
                            <input type="radio" name="recuring"
                                      value="no"/>monthly
                            <p><br>
                                If weekly or bi-weekly, specify the number
                                of weeks for it to keep recurring. If
                                monthly, specify the number of months. (If
                                you choose "bi-weekly" and put in an odd
                                number of weeks, the computer will round
                                down.)
                            </p>
                            <p><input type="number" min="1"
                                      max="4">duration(max 4
                                weeks)</p>
                                    </div>
                                </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-default">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a href="/~user2/PHP/booker/Employee/index/" class="btn btn-default btn-sm">
                Employee List
            </a>
        </div>
    </div>
</div>