<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
    <h2>Employees</h2>
        <div class="row">
            <div class="col-xs-12 well">
    <form action="" method="post" id="formempl">
        <p><input type="text"
                                                        name="name_employee"
                  value="{{EMPLOYEE_N}}" placeholder="Name">
            <input type="text" name="email_employee"
                   value="{{EMPLOYEE_EMAIL}}" placeholder="E-mail">
            <input  type="text" name="pass_employee"
                    value="{{EMPLOYEE_PASS}}"placeholder="Password">
        <br>
            <div class="col-xs-4 col-xs-offset-4">
            <button class="form-control" type="submit" name="submit" form="formempl">Save</button>
    </div>
            </p>
        </div>
    </form>
        <div class="row">
    <table class="table table-striped" id="employees">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        {{LISTEMPLOYEES}}
    </table></div></div></div>