table{
    min-width: 770px !important;
}
table tr td{
    min-width: 120px;
    height: 110px;
}
table tr th{
    text-align: center;
}
td div{
    overflow-y: auto;
    height: 90px;
}
textarea{
    resize: none;
    overflow-y: auto;
}
#recurring{
    display: none;
}
#employees{
    text-align: center;

}
#employees td{
    height: 30px;
}
#formempl input{
    margin: 0 35px;
}
.warningForm{
    color: red;
    font-weight: bold;
    margin-left: 20px;
}
.warningErr{
    color: red;
    font-weight: bold;
    margin-left: 70px;
}